
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Primary-font-family: 'Poppins', sans-serif;
    --light-white: #f8f8fa;
    --gray: #5e6c78;
    --gray-1: #e3e3e3;
}
body{
    font-family: var(--primary-font-family);
    font-weight: 600;
 
} 
/* Main CSS */
.wrapper{
    padding: 0 0 100px;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    min-height: 100%;
    background: #a6c0e7;
}
.wrapper .logo img{
     max-width: 40%;
} 
.wrapper input{
     background-color: var(--light-white);
     border-color: var(--light-white);
     color: var(--gray);
} 
.wrapper input:focus{
    box-shadow: none;
} 
.shadow {
    box-shadow: 0 0 7px 1px rgba(0,0,0,0.1) !important;
    background-color: #f1f3f4;
}
.wrapper .submit_btn{
      padding: 15px;
      font-weight: 500;
} 
.wrapper .login_With{
    padding: 15px;
    font-size:15px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
} 
.wrapper .submit_btn:focus,
.wrapper .loging_with:hover{
     background-color: var(--gray);
     border-color: var(--gray-1);
} 
.wrapper .login_With img{
     max-width: 8%;
}
.btn-light.login_with{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-light.login_with svg{
    margin-right:8px;
}